.tabs__content {
  padding: 30px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.tabs__content h3 {
  color: black;
  font-weight: 700;
  font-family: inherit;
  font-size: 24px;
  margin-bottom: 10px;
}
.editPicture {
  margin-top: 10px;
  color: blue;
}
.backIconEdit {
  height: 27px;
  margin-left: 10px;
  margin-top: 20px;
}
.tabs__nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px 0 30px;
}

.tabs__button {
  background: rgba(0, 0, 0, 0);
  padding: 4px;
  color: black;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: block;
  position: relative;
  font-family: inherit;
  font-weight: 400;
}

.tabs__button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: grey;
  opacity: 0;
  visibility: hidden;
  transition:
    visibility 0s,
    opacity 0.4s ease-in-out;
}

.tabs__button.active::after {
  opacity: 1;
  visibility: visible;
  transition:
    visibility 0s,
    opacity 0.4s ease-in-out;
}

.tabs__item:not(:last-child) {
  margin-right: 20px;
}
